.search-column{
    background-color:	#D3D3D3;
}

.list-group-item{
    line-height: 0.5;
    border: none;
}
.card-body{
    flex:auto
}

span.severe{
    padding: 3px;
    background-color: rgb(231, 19, 19);
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: rgb(161, 221, 20);
}

span.favorable{
    padding: 3px;
    background-color: rgb(32, 35, 192);
    color:white;
}